* {
    box-sizing: border-box;
}

.flexbox-container {
    flex-direction: column;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 4fr;
    grid-gap: 5px 10px;
}

.grid-container2 {
    display: inline-grid;
    grid-template-columns: 150px 4fr;
    grid-gap: 5px 10px;
}

header {
    background-color: rgb(19, 3, 92);
    color:antiquewhite;
}

h1 {
    font-size: x-large;
}

.a {
    position: right;

}

.grid-row {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
    margin-right: 3rem;
}

.giap {
    margin: 5rem auto;
}

body {
    background-color: aquamarine;
}

.instructor {
    display: table-column;
    position: relative;
    left: 30px;
}

.inbio {
    display: table-row;
    position: relative;
    left: 30px;
}

footer {
    height: 400px;
    width: 100%;
    position: relative;
}

.footerimg {
    height: 400px;
    width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.img {
    position: absolute;
    top: 8px;
    left: 16px;
}