* {
    box-sizing: border-box;
}

.col {
    float: left;
    padding: 5px;
    border: 1px solid red;
}

.flexbox-container {
    flex-direction: column;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.grid-container div {
    border: 1px solid rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-gap: 5px 10px;
}

header {
    background-color: rgb(19, 3, 92);
    color:antiquewhite;
}

.grid-row {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
}

.giap {
    margin: 5rem auto;
}

body {
    background-color: aquamarine;
}

footer {
    height: 400px;
    width: 100%;
    position: relative;
    /* z-index: -1; */
}

.footerimg {
    height: 400px;
    width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.img {
    position: absolute;
    top: 8px;
    left: 16px;
}