* {
    box-sizing: border-box;
}

.col {
    float: left;
    padding: 5px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: rgb(19, 3, 92);
}

footer {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: (footerImage.jpg);
}

img {
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 1;
  }